@model SaveCustomerViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveCustomer</title>
</head>
<body>

</body>
</html>
