@model  IEnumerable<Product>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>
<br />
@foreach (var item in Model)
{
    <h2>@item.Name</h2>
    <h4>@item.Category</h4>
    <h5>@item.Price</h5>
}
