@model Course
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--  ViewData  -->
    <h1>@(((Course)ViewData["course"]).Name)</h1>
    
    <!--  ViewBag      -->
    <h1>@(((Course)ViewBag.course).Name)</h1>

    <!-- Sayfaya model olarak veri yollayabiliriz       -->
    <h1>@Model.Name</h1>

</body>
</html>