
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Hello World</h3>
    @{ 
        int sayi1 = 10;
        int sayi2 = 20;
        int toplam = sayi1! + sayi2;
    }
<h5>Toplam = @toplam</h5>
</body>
</html>
