<form action="@Url.Action("List","Blog")" method="get">
    <div class="well">
        <h4>Blog Arama</h4>
        <hr />
        <div class="input-group">
            <input type="text" class="form-control" name="search_query" />
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>

</form>