<aside class="footerHolder overflow-hidden bg-lightGray pt-xl-23 pb-xl-8 pt-lg-10 pb-lg-8 pt-md-12 pb-md-8 pt-10">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mb-lg-0 mb-4">
                <h3 class="headingVI fwEbold text-uppercase mb-7">İletişim</h3>
                <ul class="list-unstyled footerContactList mb-3">
                    <li class="mb-3 d-flex flex-nowrap pr-xl-20 pr-0"><span class="icon icon-place mr-3"></span> <address class="fwEbold m-0">Adres: Üsküdar/İstanbul.</address></li>
                    <li class="mb-3 d-flex flex-nowrap"><span class="icon icon-phone mr-3"></span> <span class="leftAlign">Telefon : <a href="javascript:void(0);">(+212) 212 1212</a></span></li>
                    <li class="email d-flex flex-nowrap"><span class="icon icon-email mr-2"></span> <span class="leftAlign">Email:  <a href="javascript:void(0);">info@baysansoft.com</a></span></li>
                </ul>
                <ul class="list-unstyled followSocailNetwork d-flex flex-nowrap">
                    <li class="fwEbold mr-xl-11 mr-md-8 mr-3">Bizi Takip Edin:</li>
                    <li class="mr-xl-6 mr-md-5 mr-2"><a href="javascript:void(0);" class="fab fa-facebook-f"></a></li>
                    <li class="mr-xl-6 mr-md-5 mr-2"><a href="javascript:void(0);" class="fab fa-twitter"></a></li>
                    <li class="mr-xl-6 mr-md-5 mr-2"><a href="javascript:void(0);" class="fab fa-pinterest"></a></li>
                    <li class="mr-2"><a href="javascript:void(0);" class="fab fa-google-plus-g"></a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>
<footer id="footer" class="overflow-hidden bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 copyRightHolder v-II text-center pt-md-3 pb-md-4 py-2">
                <p class="mb-0">Coppyright 2019 by <a href="http://baysansoft.com/" target="_blank">BaysanSoft</a> - All right reserved</p>
            </div>
        </div>
    </div>
</footer>
