<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <!-- set the Compatible of your site -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the page title -->
    <title>Corona Sepeti</title>
    <!-- include the site Google Fonts stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CRoboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <!-- include the site bootstrap stylesheet -->
    <link rel="stylesheet" href="~/static/css/bootstrap.css">
    <!-- include the site fontawesome stylesheet -->
    <link rel="stylesheet" href="~/static/css/fontawesome.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="~/static/style.css">
    <!-- include theme plugins setting stylesheet -->
    <link rel="stylesheet" href="~/static/css/plugins.css">
    <!-- include theme color setting stylesheet -->
    <link rel="stylesheet" href="~/static/css/color.css">
    <!-- include theme responsive setting stylesheet -->
    <link rel="stylesheet" href="~/static/css/responsive.css">
</head>
<body>
    <!-- pageWrapper -->
    <div id="pageWrapper">
        <!-- header -->
     @Html.Partial("_Header")
        <!-- main -->
        @RenderBody()
        <!-- footer -->
        @Html.Partial("_Footer")
    </div>
    
    <!-- include jQuery library -->
    <script src="~/static/js/jquery-3.4.1.min.js"></script>
    <!-- include bootstrap popper JavaScript -->
    <script src="~/static/js/popper.min.js"></script>
    <!-- include bootstrap JavaScript -->
    <script src="~/static/js/bootstrap.min.js"></script>
    <!-- include custom JavaScript -->
    <script src="~/static/js/jqueryCustome.js"></script>
</body>
</html>